.container {
  width: 100%;

  &__item {
    border-top: 0.1rem solid var(--color-light-grey);
  }

  &__empty-state {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 3rem;
    border-radius: 0.4rem;

    &__details {
      margin-left: 2rem;

      h3 {
        font-size: 2.4rem;
      }

      ul {
        font-size: 1.8rem;
      }
    }
  }
}